body {
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.125rem;
  background: hsl(218, 28%, 13%);
  color: lightgray;
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
  width: 100%;
}

/*
--------    Typography  --------
*/

h2 {
  font-size: 1.325rem;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 1.125rem;
  font-family: 'Raleway', sans-serif;
}

.intro,
.services {
  text-align: center;
}

.intro-body,
.service-body,
.stay-productive-body,
.stay-productive-read-more {
  font-size: 0.7em;
  font-weight: 400;
}
/*
--------    Layout  --------
*/

.container-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  padding: 0 1em;
}

.logo {
  width: 30%;
  height: 30px;
}

.btn {
  border: none;
}

/*
--------    navigation  --------
*/

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav li {
  margin: 0 0.5em;
}

nav a {
  color: lightgray;
  text-decoration: none;
  font-size: 0.875rem;
  cursor: pointer;
}

/* nav a:hover {
} */

/*
--------    intro  --------
*/

.intro {
  padding: 3em 2em;
  margin-bottom: 4em;
}

.intro-image {
  width: 100%;
  margin-bottom: 1em;
}

.intro-tagline {
  line-height: 1.5;
}

.intro-body {
  padding: 0 1.5em;
  margin-bottom: 2em;
}

.btn-intro {
  padding: 1em 5.5em;
  border-radius: 20px;
  background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: whitesmoke;
  font-weight: 700;
  letter-spacing: 1px;
}

/*
--------    services  --------
*/

.services {
  text-align: center;
  padding: 0 2em;
}

.service {
  margin-bottom: 5em;
}

.service-image {
  width: 17%;
  margin: 0 auto;
}

/*
--------    Stay productive  --------
*/

.stay-productive {
  padding: 3em 2em;
  margin-bottom: 4em;
}

.stay-productive-read-more {
  color: hsl(176, 68%, 64%);
}

.stay-productive-read-more:hover,
.stay-productive-read-more:focus {
  cursor: pointer;
}
